.header__top {
    padding: 5px;
    background-color: #8ac263;
}

.header__info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    font-size: 14px;
}

.divider {
    margin: 0 10px 2px 10px;
    color: #000000;
    font-size: 20px;
}

.logo {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
}


